---
import BaseLayout from "../layouts/BaseLayout.astro";
import Form from "../components/ui/Form.astro";
---

<BaseLayout title="Astro Garden Theme | Build your digital garden with Astro" description="This is the contact page.">
    <main>
        <div>
            <h1>Contact Us</h1>
            <Form />
        </div>
    </main>
</BaseLayout>


