---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Astro Garden Theme | Build your digital garden with Astro">
	<main>
		<div>
			<h1>Astro Garden Theme</h1>
		</div>
	</main>
</Layout>

