---
import BaseLayout from '../layouts/BaseLayout.astro';
import ProfileCard from "../components/home/ProfileCard.astro";
---

<BaseLayout title="Astro Garden Theme | Build your digital garden with Astro" description="This is the home page.">
	<main>
		<div>
			<h1>Astro Garden Theme</h1>
			<p>Hi welcome to the Astro Garden Theme!</p>
		</div>
		<ProfileCard />
	</main>
</BaseLayout>

