---

---
<div class="rounded-lg border-2 border-solid border-black w-fit flex">

    <div>
        <h2 class="text-3xl font-bold">Astro Garden Developer</h2>
        <h4 class="text-2xl font-semibold">Welcome to my Astro Garden Theme I created!</h4>
    </div>

    <img src="/public/devdude.png" class="rounded-3xl border-2 w-1/2 h-auto border-solid" alt="devdude" />
</div>